.row
    .col-sm-8
        h3 DHOx WHOAMI Monitor
        .well.well-sm
            chart(details='records')
        .well-well-sm
            map(details='records')
    .col-sm-4
        h4 Latest 7 records
        table.table.table-condensed
            thead
                tr
                    th Nurse
                    th Location
                    th Recorded At
                    th Risk Level
            tbody
                tr(ng-repeat='record in records|reverse|limitTo: 7', ng-class='{success: (record.risk==1), warning: (record.risk==2), danger: (record.risk==3)}')
                    td {{record.recorded_by}}
                    td {{record.location}}
                    td {{moment(record.recorded_on).format('D MMM YY HH:mm')}}
                    td {{riskDescription[record.risk]}}
        button.btn(ng-click='newRecord()') New record
        input(type='text', ng-model='mobile', placeholder='Mobile number')